.OrderListItem {
    background-color: #F7F9F9;
    &:hover {
        background-color: #FBFCFC;
    }
    margin: 10px 0;

    .list-item-text {
        width: 80%;
        // background-color: antiquewhite;
        margin-right: 24px;
    }
}