.OrderDialog {
    .list-create-button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-self: center;
        padding: 0;
        // background-color: #F7F9F9;
        background-color: #F4F6F7;

        .create-edit {
            display: flex;
            justify-self: center;
            align-items: center;
            width: 100%;
            // background-color: antiquewhite;
        }
    }
}